<table id="stats-table" class="player-card-table">
  <tr>
    <th style="background-color: {{primary_hex}}">AVG</th>
    <th style="background-color: {{primary_hex}}">HR</th>
    <th style="background-color: {{primary_hex}}">RBI</th>
    <th style="background-color: {{primary_hex}}">OBP</th>
    <th style="background-color: {{primary_hex}}">OBPS%</th>                
  </tr>
  <tr>
    <td id="ppg">\{{average.points}}</td>
    <td id="apg">\{{average.assists}}</td>
    <td id="rpg">\{{average.rebounds}}</td>
    <td id="fg-percent">\{{percentageCalc average.field_goals_att average.field_goals_made}}</td>
    <td id="ft-percent">\{{percentageCalc average.free_throws_att average.free_throws_made}}</td>    
  </tr>
</table>
          </div>
        </div>  
      </div>
      <div id="lower-half-card">    
        
        <br />              
        <div id="other-card-info">
          <div id="other-card-info-left">
            <div id="years-in-league">Years in League: \{{years_in_league pro_debut}}</div>
            <div id="college">College: \{{college_check college}}</div>
            <div id="salary">Birthplace: \{{birthcountry}}</div>
          </div>
          <div id="other-card-info-right">  
            <div id="height">Height: \{{format_height height}} </div>
            <div id="weight">Weight: \{{weight}}</div>            
          </div>           
        </div>
      </div>