        <table id="stats-table" class="player-card-table">
          <tr>            
            <th style="background-color: {{primary_hex}}">GOALS</th>
            <th style="background-color: {{primary_hex}}">ASSISTS</th>
            <th style="background-color: {{primary_hex}}">POINTS</th>
            <th style="background-color: {{primary_hex}}">Minutes per game</th>              
          </tr>
          <tr>
            <td id="ppg">\{{statistics.evenstrength.goals}}</td>
            <td id="apg">\{{statistics.evenstrength.assists}}</td>
            <td id="hockey-points">\{{add_together statistics.evenstrength.goals statistics.evenstrength.assists}}</td>
            <td id="minutes">\{{time_on_ice.average.total}}</td>           
          </tr>
        </table>
          </div>
        </div>  
      </div>
      
      <div id="lower-half-card">            
        <div id="other-card-info-nhl">
          <div class="subheader">All Time Stats</div>
          <table id="stats-table" class="player-card-table">

            <tr>            
              <th style="background-color: {{primary_hex}}">Goals</th>
              <th style="background-color: {{primary_hex}}">Assists</th>
              <th style="background-color: {{primary_hex}}">Points</th>
              <th style="background-color: {{primary_hex}}">Penalty Minutes</th>              
            </tr>
            <tr>
              <td id="ppg">\{{statistics.total.goals}}</td>
              <td id="apg">\{{statistics.total.assists}}</td>
              <td id="hockey-points">\{{add_together statistics.total.goals statistics.total.assists}}</td>
              <td id="minutes">\{{statistics.total.penalty_minutes}}</td>           
            </tr>
          </table>         
      </div>