
<script id="full-card" type="text/x-handlebars-template">
    <div id="player-card-contain">
    <div class="cover" style="background-image: url({{logo_url}})"></div>
    <div class ="back-to-answer">
     <div class="back-to-answer-absolute">
     <span class="glyphicon glyphicon-backward" style="padding-right:5px"></span>Back to answers</div>
     </div>
      <div id="top-half-card">
        <img id="player-card-image" src="\{{avatar_url}}">
         <div id="top-player-info">
          <div class="card-right">
            <div id="player-card-name">\{{full_name}}</div>
            <hr id="line-divider">
            <table id="basic-info-table" class="player-card-table">
              <tr id="player-card-basic">
                <td id="player-card-number">\{{jersey_number}}</td>
                {{#if position}}
                  <td id="player-card-pos">\{{render_position league position}}</td>
                {{/if}}                                             
                <td id="player-card-team">\{{team_name}}</td>
              </tr>
            </table>
            <div class="subheader">Season stats</div>
            
        {{#compare league 'nhl'}}    
          {{> nhl_player_card}}          
        {{/compare}}  
        
        {{#compare league 'nba'}}    
          {{> nba_player_card}}          
        {{/compare}}  

        {{#compare league 'mlb'}}    
          {{> mlb_player_card}}          
        {{/compare}}  
        
        {{#compare league 'nfl'}}    
          {{> nfl_player_card}}          
        {{/compare}}  

        {{#compare league 'soccer'}}    
          {{> soccer_player_card}}          
        {{/compare}}  
        
    </div>
  </div> 
</div>
</script>