
<script id="full-card" type="text/x-handlebars-template">
    <div id="player-card-contain">
    <div class="cover" style="background-image: url({{logo_url}})"></div>
    <div class ="back-to-answer">
     <div class="back-to-answer-absolute">
     <span class="glyphicon glyphicon-backward" style="padding-right:5px"></span>Back to answers</div>
     </div>
      <div id="top-half-card">
        <img id="player-card-image" src="\{{avatar_url}}">
         <div id="top-player-info">
          <div class="card-right">
            <div id="player-card-name">\{{full_name}}</div>
            <hr id="line-divider">
            <table id="basic-info-table" class="player-card-table">
              <tr id="player-card-basic">
                <td id="player-card-number">\{{jersey_number}}</td>
                <td id="player-card-pos">\{{render_position league position}}</td>
                <td id="player-card-team">\{{team_name}}</td>
              </tr>
            </table>
            <div class="subheader">Season stats</div>
        <table id="stats-table" class="player-card-table">
          <tr>
            <th>PPG</th>
            <th>APG</th>
            <th>RPG</th>
            <th>FG%</th>
            <th>FT%</th>
            <th>3PT%</th>             
          </tr>
          <tr>
            <td id="ppg">\{{average.points}}</td>
            <td id="apg">\{{average.assists}}</td>
            <td id="rpg">\{{average.rebounds}}</td>
            <td id="fg-percent">\{{percentageCalc average.field_goals_att average.field_goals_made}}</td>
            <td id="ft-percent">\{{percentageCalc average.free_throws_att average.free_throws_made}}</td>
            <td id="threepoint-percent">\{{percentageCalc average.three_points_att average.three_points_made}}</td>
          </tr>
        </table>
          </div>
        </div>  
      </div>
      <div id="lower-half-card">    
        
        <br />              
        <div id="other-card-info">
          <div id="other-card-info-left">
            <div id="years-in-league">Years in League: \{{experience}}</div>
            <div id="college">College: \{{college}}</div>
            <div id="salary">Salary: \{{abridgeSalary salary}}</div>
          </div>
          <div id="other-card-info-right">  
            <div id="height">Height: \{{format_height height}} </div>
            <div id="weight">Weight: \{{weight}}</div>
            <div id="salary-rank">Salary rank on team: </div>
          </div>           
        </div>
      </div>
    </div>
  </div> 
</div>
</script>