  <!DOCTYPE html>
<html>
  <head>
 
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-select.min.css' />
    <link rel='stylesheet' href='/stylesheets/select2.css' />
    <link rel='stylesheet' href='/stylesheets/leaguepage.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' />
    <link rel='shortcut icon' href='/images/faviconRB3.ico' type='image/x-icon'/ >
  </head>
  <body id="league-background" style={{#if background_image}}"background-image: url({{background_image}});"{{/if}}>
{{# unless special_layout}}

	<nav class="navbar navbar-default blitz" role="navigation">
    <div class="navbar-header rb">
      <a class="navbar-brand main" href="/"><span class="rb-green">Roster</span><span class="rb-green">Blitz</span><span class="glyphicon glyphicon-flash rb-bolt" aria-hidden="true"></span></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right rb" id="nav-tabs-leagues"> 
          <li class="tabs {{#compare current 'soccer'}}selected{{/compare}}"><a href="/leaguesearch/soccer"><span class="tabs-text">Soccer</span></a></li>
          <li class="tabs {{#compare current 'mlb'}}selected{{/compare}}"><a href="/leaguesearch/mlb"><span class="tabs-text">MLB</span></a></li>
          <li class="tabs {{#compare current 'nba'}}selected{{/compare}}"><a href="/leaguesearch/nba"><span class="tabs-text">NBA</span></a></li>
          <li class="tabs {{#compare current 'nfl'}}selected{{/compare}}"><a href="/leaguesearch/nfl"><span class="tabs-text">NFL</span></a></li>
          <li class="tabs {{#compare current 'nhl'}}selected{{/compare}}"><a href="/leaguesearch/nhl"><span  class="tabs-text">NHL</span></a></li>  
          <!-- IF INDEX PAGE, DO how_works_button, IF ANOTHER OTHER PAGE, do question_mark -->
          {{#if how_works_button}}
          <li>
            {{> how_works_button }}
          </li>
          {{else}}
            {{> question_mark }}   
          {{/if}}
        </ul>                                   
    </div>
  </nav>
{{/unless}}
  {{{body}}}
    
{{# unless special_layout}}
  <div class="social-sidebar social" data-title="{{#if quizPage}}Try out this quiz for the {{team_name}} quiz: https://www.rosterbliz.com/quiz?team_id={{team_id}}{{else}}Thought you might enjoy some sports quizzes at rosterbliz.com{{/if}}">
    <div id="share-1" class="share-element email-img" data-toggle="modal" data-target="#emailModal">
      <div id="email"></div>
    </div>
    <div id ="share-2" class="share-element">
      <div id="facebook" class="post-social"></div>
    </div>
      <div id ="share-3" class="share-element">
      <div id="twitter" class="post-social"></div>
    </div>
  </div>
  
  {{#unless remove_footer}}
    <footer class="footer">
      <div class="navbar-collapse collapse">      
        <div class="footer-container">        
            <p class="text-muted">     
              <ul class="bs-docs-footer-links text-muted">
                <li><a href="/" class="rb-green">Home</a></li>      
                <li><a href="/about" class="rb-green">About</a></li>
                <li><a href="/ourteam" class="rb-green">Team</a></li>
                <li><a href="" class="rb-green" data-toggle="modal" data-target="#myContactModal">Contact Us</a></li>                       
              </ul>                     
            </p>      
        </div>
      </div>  
    </footer>
  {{/unless}}
  
  {{/unless}}

       <!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Email your quiz!</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="to">To:</label>
            <input type="recipients" class="form-control" id="email-recipients" placeholder="Separate email addresses with commas">
          </div>
          <div class="form-group">
            <label for="from">From:</label>
            <input type="sender" class="form-control" id="email-sender" placeholder="Your Email Address">
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="3" id="message"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="email-btn">Send Email</button>
      </div>
    </div>
  </div>
</div>


<!-- How this works Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="how-works-modal">
      <div class="modal-header" id="how-works-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Three ways to play</h3>
      </div>
      <div class="modal-body" id="how-works-body">
        RosterBlitz lets you play sports trivia how you want. There are three types of quizzes.
        <div id="how-works-main">        
          <div>
              <p class="roster-icon all-icons-small float-icon"></p>
              <p class="modal-bullets">Rosters: The flagship and namesake quiz type. Try to name all the players on your favorite team, or that scrub team they never show on TV.</p>
          </div>
          <div class="modal-clear">
            <p class="season-leaders-icon all-icons-small float-icon"></p>
            <p class="modal-bullets">Season leaders: Who is currently leading the NBA in rebounds per game? Or leading the NFL in touchdown passes? Play yourself--or challenge a friend--to test your current sports knowledge!</p>
          </div>
          <div class="modal-clear">
            <p class="goats-icon all-icons-small float-icon"></p>
            <p class="modal-bullets">Greatest of All Time (GOAT): Who is the all time leader in rushing yards per attempt? Goals in the World Cup? Try a GOAT quiz to test your knowledge of the best of the best.</p>
          </div>               
        </div>
        <div class="modal-footer" id="how-works-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">I'm ready to play!</button>        
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Modal -->
<div class="modal fade" id="myContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="how-works-modal">
      <div class="modal-header" id="how-works-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Get in touch!</h3>
      </div>
      <div class="modal-body" id="how-works-body">
        The team at RosterBlitz would love to hear your feedback and suggestions. 
        <div id="how-works-main">        
          <div>Email: rosterblitz@gmail.com</div>
          <div>Twitter: @rosterblitz</div>             
        </div>
        <div class="modal-footer" id="how-works-footer">              
        </div>
      </div>
    </div>
  </div>
</div>

    <script src='/javascripts/underscore.min.js'></script>
    <script src='/javascripts/handlebars.min.js'></script>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/handlebars-helpers.js'></script>
    <script src='/javascripts/select2.min.js'></script>
    <script src='/javascripts/Chart.min.js'></script>
    <script src='/javascripts/global.js'></script>
    <script src='/javascripts/jquery.flip.min.js'></script>
    <script src='/javascripts/quiz.js'></script>
    <script src='/javascripts/teams.js'></script>
    <script src='/javascripts/leaguesearch.js'></script>    
    <script src='/javascripts/bootstrap-select.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>  
    <script src='/test/all.min.js'></script>
  </body>
</html>
