<body data-spy="scroll" data-target="#scroll">
<div id="league-background" {{#if isMobile}} class="mobile-background mobile" {{/if}} style="background-image: url({{background__roster_image}});">
  <div class="section league-roster">
    <nav class="navbar navbar-default blitz" role="navigation">
    <div class="navbar-header rb">
      <a class="navbar-brand main" href="/"><span class="rb-green index-logo">Roster</span><span class="rb-green index-logo">Blitz</span><span class="glyphicon glyphicon-flash rb-bolt" aria-hidden="true"></span></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right rb" id="nav-tabs-leagues">
          <li class="tabs {{#compare current 'eu_soccer'}}selected{{/compare}}"><a href="/leaguesearch/soccer"><span class="tabs-text">Soccer</span></a></li>
          <li class="tabs {{#compare current 'mlb'}}selected{{/compare}}"><a href="/leaguesearch/mlb"><span class="tabs-text">MLB</span></a></li>
          <li class="tabs {{#compare current 'nba'}}selected{{/compare}}"><a href="/leaguesearch/nba"><span class="tabs-text">NBA</span></a></li>
          <li class="tabs {{#compare current 'nfl'}}selected{{/compare}}"><a href="/leaguesearch/nfl"><span class="tabs-text">NFL</span></a></li>
          <li class="tabs {{#compare current 'nhl'}}selected{{/compare}}"><a href="/leaguesearch/nhl"><span  class="tabs-text">NHL</span></a></li>
        </ul>
    </div>
    </nav>
    <div class="col-md-3 league-sidebar" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm rb-green" id="scroll" data-spy="affix" data-offset-top="150">
    <ul class="nav bs-docs-sidenav">
        <li class="rosters"><a class="ls-tag" href="#rosters-sp">Rosters</a></li>
        <li class="leaders"><a class="ls-tag" href="#leaders-sp">Leaders</a></li>
        <li class="goats"><a class="ls-tag" href="#goats-sp">Goats</a></li>
    </ul>
  </nav>
 </div>
    <div class="league-section roster" id="rosters-sp">
      <div class="league-align-center" data-toggle="modal" data-trigger="click" data-target="#myModal">
        <a name="rosters-sp"></a>
          <div class="league-bubble"><span class="all-icons roster-icon white" id="rosters-league-page" data-toggle="popover" data-container="body" data-placement="top" title="Team roster quizzes" data-content="See if you can name all the players on a specific team" data-trigger="hover">
          </span></div>
        <span class="type-head">Roster Quizzes</span>
      </div>
      <div class="column-center all-columns roster">
        <div class="top-list-contain">
          <div class="list-group roster group-rows">
    	    {{#each popular_teams}}
            <a href="#" data-team-id="{{team_id}}" data-type="{{type}}" class="create-quiz list-group-item league-search-items">{{team_name}}</a>
    	    {{/each}}
    	  	</div>
      	</div>

    	</div>
    </div>
  </div>
</div>
<div id="leaders-background">
  <div class="league-section leaders" id="leaders-sp">
    <div class="league-align-center" data-toggle="modal" data-trigger="click" data-target="#myModal">
      <a name="leaders-sp"></a>
      <div class="league-bubble"><span class="all-icons season-leaders-icon black" id="rosters-league-page" data-toggle="popover" data-container="body" data-placement="top" title="Team roster quizzes" data-content="See if you can name all the players on a specific team" data-trigger="hover">
      </span></div>
      <span class="type-head leaders">Leaders Quizzes</span>
    </div>
    <div class="column-center all-columns leaders">
      <div class="top-list-contain">
        <div class="list-group leaders group-rows">
        {{#each leaders}}
          <a href="#" class="create-quiz list-group-item league-search-items" data-team-id="{{team_id}}" data-type="{{type}}">{{description}}</a>
        {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>
<div id="goats-background" {{#if isMobile}} class="mobile-background mobile"{{/if}}>
  <div class="league-section goats" id="goats-sp">
    <div class="league-align-center" data-toggle="modal" data-trigger="click" data-target="#myModal">
      <a name="goats-sp"></a>
      <div class="league-bubble"><span class="all-icons goats-icon white" id="rosters-league-page" data-toggle="popover" data-container="body" data-placement="top" title="Team roster quizzes" data-content="See if you can name all the players on a specific team" data-trigger="hover">
      </span></div>
      <span class="type-head goats">Goats Quizzes</span>
    </div>
    <div class="column-center all-columns goats">
      <div class="top-list-contain">
        <div class="list-group goats group-rows">
        {{#each goats}}
          <a href="#" class="create-quiz list-group-item league-search-items" data-team-id="{{team_id}}" data-type="{{type}}">{{description}}</a>
        {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>
</body>

  <input id="select2" class="search-ls hidden" type="hidden"/>

<script type='text/javascript'>

    var teams = {{{json_stringify popular_teams}}};
    var leaders = {{{json_stringify leaders}}};
    var goats = {{{json_stringify goats}}};
</script>
