<div class="league-middle">
  <div class="container-league">
    <div id="league-type"></div>    
    <div class="column-left all-columns pull-left">
      <div class="league-align-center">
        <p class="all-icons roster-icon" id="rosters-league-page" data-toggle="popover" data-container="body" data-placement="left" title="Team roster quizzes" data-content="See if you can name all the players on a specific team" data-trigger="hover">
        </p>
      </div>
    
      <div class="top-list-contain">  	    
        <div class="list-group group-rows">    
  	    {{#each popular_teams}}  
          <a href="#" data-team-id="{{team_id}}" data-type="{{type}}" class="create-quiz list-group-item league-search-items">{{team_name}}</a>
  	    {{/each}}    
  	  	</div>
    	</div>

  	</div>
    <div class="column-center all-columns pull-left">
      <div class="league-align-center">
        <p class="all-icons season-leaders-icon" id="season-leaders-league-page" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" title="Current season leaders" data-content="Test yourself on the top performing players in the league this season">
        </p>
      </div>

      <div class="top-list-contain">
        <div class="list-group group-rows">    
        {{#each leaders}}  
          <a href="#" class="create-quiz list-group-item league-search-items" data-team-id="{{team_id}}" data-type="{{type}}">{{description}}</a>
        {{/each}}    
        </div>
      </div>
    
  	</div>
    <div class="column-right all-columns pull-left">
      <div class="league-align-center">
        <p class="goats-icon all-icons" id="goat-league-page" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" title="Greatest Of All Time quizzes" data-content="Test your knowledge of the best players of ALL TIME in different categories">
        </p>
      </div>
      <div class="top-list-contain">
        <div class="list-group group-rows">  
         {{#each goats}}  
          <a href="#" class="create-quiz list-group-item league-search-items" data-team-id="{{team_id}}" data-type="{{type}}">{{description}}</a>
        {{/each}}  
        </div>
      </div>

    </div>
  </div>    
</div>	

<script type='text/javascript'>

    var teams = {{{json_stringify popular_teams}}};
    console.log(teams);

    var leaders = {{{json_stringify leaders}}};
    console.log(leaders);

    var goats = {{{json_stringify goats}}};
    console.log(goats);
</script>

