  <div id="standard-{{league}}-container" style="background-image: url({{background_image}});">  
    <div class="team-container">
      <p class="team-name">{{team_name}}</p>
      <div class="clock">{{clock}}</div>
      <div class="name-point-container">
        <div class="form-group player-name">
           <input type="text" class="form-control" id="guess-box" placeholder="Enter Player Name">
        </div>
        <div class="point-container rb-green">
          <p class="number">0</p>
          <p class="points">points</p>
        </div>
      </div>
      <div class="answer-container">
        <div class="starters">
          {{#each roster.starters}}
            <div class="answer-row {{render}}" data-id={{player_id}}>
              <p class="answered-player">{{render_position position}}</p>
            </div>
          {{/each}}
        </div>
        <div class="answer-container bench">
          {{#each roster.bench}}
            <div class="answer-row {{render}} empty">Bench {{inc @index}}</div>
          {{/each}}
        </div>
      </div>
      <div class="button-section">
        <div class="btn btn-primary quit-btn">Give Up</div>
      </div>


{{#ifCond league 'nba'}}
    {{> nba }} 
{{/ifCond}}

{{#ifCond league 'nfl'}}
    {{> nfl }} 
{{/ifCond}}

{{#ifCond league 'nhl'}}
    {{> nhl }} 
{{/ifCond}}

{{#ifCond league 'eu_soccer'}}
    {{> eu_soccer }} 
{{/ifCond}}

{{#ifCond league 'mlb'}}
    {{> mlb }} 
{{/ifCond}}
  </div>




<script type='text/javascript'>
  league = '{{league}}';

  {{#ifCond league 'nba'}}
    var bench = {{{json_stringify roster.bench}}},
        starters = {{{json_stringify roster.starters}}},
  {{/ifCond}}
  {{#ifCond league 'eu_soccer'}}
    var roster =  {{{json_stringify roster}}};
  {{/ifCond}}

    
 </script>
