	<div class="standard-{{league}}-container">  
	  <div class="team-container">
	  	<p class="team-name">{{team_name}}</p>
	  	<div class="clock">22:00</div>
	  	<div class="name-point-container">
		  	<div class="form-group player-name">
	         <input type="recipients" class="form-control" id="email-recipients" placeholder="Enter Player Name">
	      </div>
	      <div class="point-container rb-green">
	      	<p class="number">0</p>
	      	<p class="points">points</p>
	      </div>
	    </div>
	    <div class="answer-container">
		    <div class="starters">
		    	{{#each starters}}
		      	<div class="answer-row {{render}}">{{position}}</div>
		      {{/each}}
		    </div>
		    <div class="answer-container bench">
		    	{{#each bench}}
		    	  <div class="answer-row {{render}}">Bench {{inc @index}}</div>
		    	{{/each}}
		    </div>
		  </div>


{{#ifCond league 'nba'}}
    {{> nba }} 
{{/ifCond}}

{{#ifCond league 'nfl'}}
    {{> nfl }} 
{{/ifCond}}

{{#ifCond league 'nhl'}}
    {{> nhl }} 
{{/ifCond}}

{{#ifCond league 'eu_soccer'}}
    {{> eu_soccer }} 
{{/ifCond}}

{{#ifCond league 'mlb'}}
    {{> mlb }} 
{{/ifCond}}
	</div>




<script type='text/javascript'>
    var starters = {{{json_stringify starters}}},
    		bench = {{{json_stringify bench}}},
    		league = '{{league}}';
 </script>
