  <div class="team-name"><span id="the-team-span">{{team_name}}</span></div>
      <div class="columns">

  <div id="left-quiz-column">
    <div class="team-container">
      <div id="align-clock">
        <div class="clock">{{clock}}</div>
      </div>  
      <div class="name-point-container">
        <div class="form-group player-name">
           <input type="text" class="form-control" id="guess-box" placeholder="Enter Player Name">
           <span class="glyphicon glyphicon-ok hidden"></span>
        </div>
        <div class="point-container rb-green">          
          <p class="number">0</p>
          <p class="points">points</p>
        </div>               
      </div>
       <div class="button-section">
         <div class="btn btn-success quit-btn">Give Up</div>
      </div>
    </div>  
    <div id="also-might-like" hidden>
      <span id="also-like-inner">
        You also might like: 
        <span id="trending-guys-inner">                  
          {{#each trending_quiz}}
            <span class="trending-quiz create-quiz" data-id={{rb_team_id}}>{{quiz_name}}{{comma}}</span>
          {{/each}} 
        </span>
      </span>  
    </div>       
  </div>  

  <div id="right-quiz-column">
    <div id="right-column-contain">
      <div id="card">
        <div class="answer-container front">
          <div class="cover" style="background-image: url({{logo_url}})"></div>
          <div class="answer-container-contain">
            <div class="answer-row subheader">Players Guessed</div>
          </div>
        </div>
        <div class="player-card back"></div>        
      </div>     
    </div>    
  </div>
</div>

  

  				{{> player_card }}

<script type='text/javascript'>
  var league = '{{league}}',
    team_name = '{{team_name}}';
 </script>

  {{#compare league 'nba'}}
    <script type='text/javascript'>
    var bench = {{{json_stringify roster.bench}}},
        starters = {{{json_stringify roster.starters}}};
    </script>
  {{/compare}}
  {{#compare league '!=' 'nba'}}
    <script type='text/javascript'>
      var roster =  {{{json_stringify roster}}};
    </script>
  {{/compare}}